@using SIGA.Entities.Models;

@{
    IList<Mantenedora> listaMantenedora = (IList<Mantenedora>)ViewData["ListaMantenedoras"];
    var urlListaClientes = Url.Content("~/SIGA/Clientes/CarregaListaDeCliente");
    string nomeController = ViewContext.RouteData.Values["Controller"].ToString();
    var urlIndex = Url.Content(string.Format("~/SIGA/{0}/Index", nomeController));

}

<script type="text/javascript">
    $(function () {
        $("#selectMantenedora").change(function () {
            var elements = "";
            if ($(this).val() == '') {
                return;
            }
            $.ajax({
                url: '@urlListaClientes',
                type: 'POST',
                data: { idMantenedora: $(this).val() },
                datatype: 'json',
                success: function (data) {
                    elements = '<option value="">[ Selecione ]</option>';
                    $.each(data, function () {
                        elements = elements + '<option value="' + this.IdCliente + '">' + this.NomeCliente + '</option>';
                    });
                    $('#selectCliente').empty().attr('disabled', false).append(elements);
                }
            });
        });

        $("#selectCliente").change(function () {
            if ($(this).val() == '') {
                return;
            }
            $.ajax({
                url: '@urlIndex',
                type: 'GET',
                data: { idCliente: $(this).val() },
                datatype: 'json',
                success: function () {                   
                    var idcliente = $("#selectCliente").val();
                    window.location.href = '@urlIndex/'+ idcliente;
                },
                error: function () {
                    alert('Ocorreu um erro no processamento.');
                }
            });
        });

    });

</script>

<div>
    <span>Selecione uma mantenedora para filtrar</span> <br />
    <select id="selectMantenedora">
        <option value="0">[ Selecione ]</option>
        @foreach (Mantenedora item in listaMantenedora)
        {
            <option value="@item.IdMantenedora">@item.NomeMantenedora</option>
        }
    </select>
    <br />
    <span>Selecione um Cliente</span> <br />
    @*@Html.DropDownList("IdCliente", null, "[ Selecione ]", htmlAttributes: new { @class = "form-control", @id = "selectCliente", @disabled = "disabled" })*@

    <select id="selectCliente"></select>
</div>
