@{
    ViewBag.Title = "DevolucaoOrdemServico";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var url = Url.Content("~/SIGA/OrdemServicos/ObterOs");

}

<div class="col-sm-12">

    <div class="widget-box" ng-controller="OSController">
        <div class="widget-header">
            <h5 class="widget-title bigger lighter">
                <i class="ace-icon fa fa-table"></i>
                Devolução de Ordem de Serviço
            </h5>
        </div>

        <div class="widget-main">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="txtIdOS" ng-model="idOrdemServico" placeholder="Leia o codigo de barras ou informe codigo" />
                </div>
                <div class="col-md-6">
                    <input type="button" id="btnBuscarOS" value="Buscar OS" ng-click="loadOS()" />
                </div>
            </div>


        </div>
        <div>
            <div>
                <div ng-show="ordemServico != null" style="padding:10px;">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <span class="control-label">Ordem de Serviço</span>
                            <input type="text" readonly value="{{ordemServico.IdOrdemServico}}" />
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <span class="control-label">Cliente</span>
                            <input type="text" readonly value="{{ordemServico.Cliente}}" />
                        </div>
                        <div class="col-xs-6 col-sm-4">

                        </div>

                    </div>
                    <br />
                    <h5>Itens da OS</h5>
                    <table class="table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Selecionar</th>
                                <th>Codigo</th>
                                <th>Documento</th>

                            </tr>
                        </thead>
                        <tr ng-repeat="itemOS in ordemServico.ListaItens">
                            <td class="col-xs-1 col-sm-1">
                                <input type="checkbox" ng-model="itemOS.Selected" />
                            </td>
                            <td class="col-xs-1 col-sm-1">
                                <span>{{itemOS.IdItemOrdemServico}}</span>
                            </td>
                            <td class="col-xs-6 col-sm-4">
                                <div ng-repeat="desc in itemOS.Documento.Descritores">
                                    <span>{{desc.NomeDescritor}}</span> - <strong>{{desc.ValorDescritor}}</strong>
                                </div>
                            </td>

                        </tr>
                    </table>

                    <hr />
                    <h5>Selecione o Destino dos documentos</h5>
                    <select ng-model="modoDestino">
                        <option value="0" selected>[ SELECIONE ]</option>
                        <option value="1">Caixa Original dos Documentos</option>
                        <option value="2">Nova Caixa / Lote</option>
                    </select>
                    <br />
                    <div ng-show="modoDestino == 2">
                        <br />
                        <span class="control-label">Informe a Caixa</span>
                        <input type="text" />
                        <span class="control-label">Selecione o Lote</span>
                        <select></select>
                        <br />
                        <input id="btnNovoLote" type="button" value="Novo Lote" class="btn btn-primary" />
                        <input id="btnNovaCaixa" type="button" value="Nova Caixa" class="btn btn-primary" />

                    </div>
                    <br />
                    <div class="row right" style="align-items:flex-end; ">
                        <input ng-show="modoDestino != 0" type="button" value="Confirmar" class="btn btn-primary" />
                    </div>
                </div>
                <div ng-show="erroBusca == 1">
                    <div class="alert alert-warning" role="alert">Ordem de Serviço não encontrada. Verifique o Numero informado</div>

                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">


    var OSController = function ($scope, $http) {

        $scope.loadOS = function () {
            $http({
                method: 'POST',
                url: '@url',
                data: { id: $scope.idOrdemServico },
                headers: { 'Content-Type': 'application/json; charset=utf-8' }
            })
            .success(function (data) {
                $scope.ordemServico = data;
                console.log(data);
                $scope.erroBusca = 0;
                if (data == '') {
                    $scope.erroBusca = 1;
                }

            }).error(function (data) {
                $scope.erroBusca = 1;
                $scope.ordemServico = null;

            });
        };


    }
</script>