@using SIGA.Entities.Models;
@using System.Linq;
@using SIGA.Data.Business.Models;
@{
    ViewBag.Title = "Relatorio de Inventario do Cliente";
    Layout = "~/Views/Shared/_LayoutRelatorioInventario.cshtml";
    var url = Url.Content("~/SIGA/ClientesTiposDocumentos/CarregaListaDeSetoresDoCliente");
    List<Documento> documentos = ViewBag.Documentos as List<Documento>;
    List<Setor> setores = ViewBag.Setores as List<Setor>;
    SIGA.Data.Business.DocumentoBusiness documentoBusiness = new SIGA.Data.Business.DocumentoBusiness();

    var urlMantenedoras = Url.Content("~/SIGA/Documentos/GetTodasMantenedoras");
    var urlClientes = Url.Content("~/SIGA/Documentos/GetClientesMantenedora");
    var urlListarDocumentos = Url.Content("~/SIGA/Relatorios/RecuperarListaDocumentosInventario");

    var permissaoFull = User.IsInRole("Administrador") || User.IsInRole("Funcionário");

    IList<string> listaDocs = new List<string>();


    foreach (DocumentoDTO item in (List<DocumentoDTO>)ViewData["ListaDocumento"])
    {
        listaDocs.Add(Json.Encode(item));
    }

}
@section scripts{
    <script src="~/Scripts/angularGrid-1.2.js"></script>
    <script src="~/Content/js/RelatorioInventario.js"></script>
}

<div class="widget-box" ng-app="inventario" ng-controller="RelatorioController">
    <div class="widget-header">
        <h4 class="widget-title">Relatório de Inventario</h4>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <div>
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <label class="control-label">Mantenedora</label>
                        <select class="form-control" ng-init="init()" ng-change="loadClientes()" ng-model="MantenedoraSelecionada" ng-options="item.IdMantenedora as item.NomeMantenedora for item in Mantenedoras">
                            <option value="">[ Selecione ]</option>
                        </select>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        <label class="control-label">Cliente</label>
                        <select class="form-control" ng-disabled="Clientes == null" ng-change="loadSetores()" ng-model="ClienteSelecionado" ng-options="item.IdCliente as item.NomeCliente for item in Clientes">
                            <option value="">[ Selecione ]</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label class="control-label">Setor</label>
                        <select class="form-control" ng-disabled="Setores == null" ng-change="loadTiposDocumentos()" ng-model="SetorSelecionado" ng-options="item.IdSetor as item.NomeSetor for item in Setores">
                            <option value="">[ Selecione ]</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row right">
                    <div class="col-xs-6 col-sm-6">
                        <input type="button" id="btnPesquisa" ng-click="ListarDocumentos()" value="Pesquisar" class="btn btn-primary" />

                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <span ng-show="exibirCarregando == true"><i class="fa fa-3x fa-spin fa-spinner"></i> Carregando Dados </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12" id="replacetarget">
            <div ng-hide="Documentos == null" class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-3">
                            <strong>Relatório</strong>
                        </div>
                        <div class="col-lg-3">

                            <span>Agrupar por</span>
                            <select ng-model="groupBy" ng-change="onGroupByChanged()">
                                <option value="">[Nenhum]</option>
                                <option value="NomeCliente">Cliente</option>
                                <option value="NomeSetor">Setor</option>
                                <option value="NomeCliente,NomeSetor">Cliente, Setor</option>
                                <option value="NomeCliente,NumeroCaixaCliente">Cliente, Caixa</option>
                            </select>
                        </div>
                        <div class="col-lg-6">

                            <input class="form-control" placeholder="Digite aqui para Filtrar... " type="text" ng-model="gridOptions.quickFilterText" />
                        </div>
                    </div>
                </div>
                <div angular-grid="gridOptions" class="ag-fresh" style="width:100%; height:800px"></div>
                <br />

            </div>

        </div>
    </div>
</div>
