
<div style="border-style: dashed; border-width: 1px; width: 15cm; height: 10cm">
    <table width="90%">
        <tr>
            <td align="center">[%LogoMantenedora%]</td>
            <td align="center">
                [%Barcode%]
                <br>
                [%TextBarcode%]
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <br>
                <strong><span style="font-size:[%FontSize%];">[%NomeCliente%]</span></strong>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center"><strong><span style="font-size: 100px;">[%NumeroCaixa%]</span></strong>	</td>
        </tr>
    </table>

</div>
<br>