<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Template</title>
</head>
<body>
	
	<table style="align : center;" width="800px">
		<tr height="150px" style="align:center;">
			<td>
				[%Barcode1%]
				<br>
				[%TextBarcode1%]
			</td>
			<td>
				[%Barcode2%]
				<br>
				[%TextBarcode2%]
			</td>
			<td>
				[%Barcode3%]
				<br>
				[%TextBarcode3%]
			</td>
		</tr>
		<tr height="150px" style="align:center;">
			<td>
				[%Barcode4%]
				<br>
				[%TextBarcode4%]
			</td>
			<td>
				[%Barcode5%]
				<br>
				[%TextBarcode5%]
			</td>
			<td>
				[%Barcode6%]
				<br>
				[%TextBarcode6%]
			</td>
		</tr>

		<tr height="150px" style="align:center;">
			<td>
				[%Barcode7%]
				<br>
				[%TextBarcode7%]
			</td>
			<td>
				[%Barcode8%]
				<br>
				[%TextBarcode8%]
			</td>
			<td>
				[%Barcode9%]
				<br>
				[%TextBarcode9%]
			</td>
		</tr>

		<tr height="150px" style="align:center;">
			<td>
				[%Barcode10%]
				<br>
				[%TextBarcode10%]
			</td>
			<td>
				[%Barcode11%]
				<br>
				[%TextBarcode11%]
			</td>
			<td>
				[%Barcode12%]
				<br>
				[%TextBarcode12%]
			</td>
		</tr>

		<tr height="150px" style="align:center;">
			<td>
				[%Barcode13%]
				<br>
				[%TextBarcode13%]
			</td>
			<td>
				[%Barcode14%]
				<br>
				[%TextBarcode14%]
			</td>
			<td>
				[%Barcode15%]
				<br>
				[%TextBarcode15%]
			</td>
		</tr>

	</table>

</body>
</html>