@model SIGA.Entities.Models.Documento

@{
    var urlCaixaAuto = Url.Content("~/SIGA/Documentos/GetProximaCaixaDoCliente");
    var urlCaixaInteligente = Url.Content("~/SIGA/Documentos/GetPossiveisCaixasCliente");
    var urlCaixaManual = Url.Content("~/SIGA/Documentos/GetInfoCaixa");
    var urlNovoLote = Url.Content("~/SIGA/Documentos/NovoLote");    
}

<script type="text/javascript">
    $(function () {
        // Ajax para carregar os modos de destinos de caixas

        $("#selectModoCaixa").change(function () {
            IniciaCursor(); 
            if ($(this).val() == '0') {
                ExibirInfosManual(false);
                ExibirInfosAuto(false);
                ExibirInfosInt(false);
                MostrarLotesCaixa(false);
                MostrarMsgErro(false);
            }
            if ($(this).val() == '1') { // Auto
                ExibirInfosInt(false);
                ExibirInfosManual(false);
                ExibirInfosAuto(true);
                MostrarLotesCaixa(true);
                MostrarMsgErro(false);

                var textoCaixa = "";
                $.ajax({
                    url: '@urlCaixaAuto',
                    type: 'POST',
                    data: { idcliente: $('#idClienteTipoDocumento').val() },
                    datatype: 'json',
                    success: function (data) {
                        textoCaixa = data.Descricao;
                        $('#txtCaixaAuto').empty().val(textoCaixa);
                    },
                    error: function () {
                        alert("Falha ao Obter Caixa Automatica");
                    }
                });
            }
            if ($(this).val() == '2') { // Intelligente

                ExibirInfosAuto(false);
                ExibirInfosManual(false);
                ExibirInfosInt(true);
                MostrarLotesCaixa(true);
                MostrarMsgErro(false);

                var elements = "";
                $.ajax({
                    url: '@urlCaixaInteligente',
                    type: 'POST',
                    data: { idcliente: $('#idClienteTipoDocumento').val() },
                    datatype: 'json',
                    success: function (data) {
                        elements = '<option value="">[ Selecione ]</option>';
                        $.each(data, function () {
                            elements = elements + '<option value="0">' + this.Descricao + '</option>';
                        });
                        $('#selCaixaInt').empty().attr('disabled', false).append(elements);
                    },
                    error: function () {
                        alert("Falha ao Obter Caixa Inteligente");
                    }
                });

            }

            if ($(this).val() == '3') { // Informar Manualmente
                ExibirInfosAuto(false);
                ExibirInfosInt(false);
                ExibirInfosManual(true);
                MostrarLotesCaixa(true);
                MostrarMsgErro(false);


            }

            FimCursor();
        });
        // fim ajax modo caixa.

        $('#txtCaixaInfoManual').focusout(function () {
            $('#lblConfirmacaoCaixa').text('Caixa OK');
            $('#IdLote').empty();
            $.ajax({
                url: '@urlCaixaManual',
                type: 'POST',
                data: { IdCliente: $('#idClienteTipoDocumento').val(), NumeroCaixa: $(this).val() },
                datatype: 'json',
                success: function (data) {
                    $('#IdLote').empty();
                    if (data == null) {
                        MostrarLotesCaixa(false);
                        MostrarMsgErro(true);
                        $('#lblConfirmacaoCaixa').text('Caixa não Encontrada');
                    }
                    MostrarLotesCaixa(true);
                    MostrarMsgErro(false);
                    $.each(data, function (key, textValue) {
                        $('#IdLote').append($('<option />', { value: key, text: textValue }));
                    });
                },
                error: function () {
                    $('#IdLote').empty();
                    $('#lblConfirmacaoCaixa').text('Caixa não encontrada.');
                    MostrarLotesCaixa(false);
                    MostrarMsgErro(true);
                }
            });
        });

        $('#lnkNovoLote').click(function () {
            var numeroCaixa = 0;
            if ($('#txtCaixaInfoManual').visible) {
                numeroCaixa = $('#txtCaixaInfoManual').val();
            }
            else {
                numeroCaixa = $('#selCaixaInt').val();
            }

            $.ajax({
                url: '@urlNovoLote',
                type: 'POST',
                data: { IdCliente: $('#idClienteTipoDocumento').val(), NumeroCaixa: $('#txtCaixaInfoManual').val() },
                datatype: 'json',
                success: function (data) {
                    if (data == null) {
                        MostrarLotesCaixa(false);
                        MostrarMsgErro(true);
                        $('#lblConfirmacaoCaixa').text('Erro ao inserir Lote.');
                    }                    
                    $('#IdLote').append($('<option selected />', { value: key, text: textValue }));                    
                },
                error: function () {                    
                    $('#lblConfirmacaoCaixa').text('Erro ao Criar Lote.');
                    MostrarLotesCaixa(false);
                    MostrarMsgErro(true);
                }
            });
        });

    });
</script>
<div class="row">
    <div class="col-xs-6 col-sm-4">
        <label class="control-label">Modo de Destino das Caixas</label>
        <select id="selectModoCaixa" class="form-control">
            <option value="0"> [ Selecione ] </option>
            @*<option value="1">Automatico - Busca próxima Caixa</option>*@
            <option value="3">Manual - Informar Manualmente</option>
            <option value="2">Inteligente - Busca caixas com espaço</option>
        </select>
    </div>
    <div class="col-xs-6 col-sm-4">
        <label id="lblCaixaAuto" class="control-label" style="display:none;">Caixa Sugerida</label>
        <input id="txtCaixaAuto" type="text" class="form-control" disabled hidden="hidden" style="display:none;" />

        <label id="lblCaixaInt" class="control-label" style="display:none;">Caixas Candidatas</label>
        <select id="selCaixaInt" class="form-control" style="display:none;"></select>

        <label id="lblCaixaInfoManual" class="control-label" style="display:none;">Informe Caixa</label>
        <input id="txtCaixaInfoManual" type="text" class="form-control" hidden="hidden" style="display:none;" />

    </div>
    <div class="col-xs-6 col-sm-4">
        <div id="divMsgErro">
            <br />
            <label id="lblConfirmacaoCaixa" class="control-label" style="display:none;"></label>
        </div>
        <div id="divLote" style="display:none;">
            <div class="col-xs-8">
                @Html.LabelFor(model => model.IdLote, "Lote", htmlAttributes: new { @id = "lblLote", @class = "control-label" })
                @*<select>
                <option selected>Automatico</option>
                <option>Manual</option>
            </select>*@
                @Html.DropDownList("IdLote", null, "[ Selecione ]", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdLote, "", new { @class = "text-danger" })
            </div>
            <div class="col-xs-4">
                <br />  
                <br />
                <a id="lnkNovoLote" href="#">
                    <i class="ace-icon fa fa-file bigger-140"></i> Novo Lote
                </a>
            </div>
        </div>
    </div>
</div>
